In [1]:
import pandas as pd
import numpy as np

In [15]:
#jung analysis
keys = {0:'spc', 1:'spd', 2:'spg'}
de_genes = pd.read_csv("/home/groups/ConradLab/daniel/sharp_data/jung/de_genes.csv", index_col =0)
de_genes.replace({"cluster":keys}, inplace=True)
int_genes = pd.read_csv("jung_interpretation.csv", index_col=0)

In [16]:
de_genes

,p_val,avg_log2FC,pct.1,pct.2,p_val_adj,cluster,gene
Ncl,4.917204e-128,5.125872,0.976,0.035,3.123899e-124,spg,Ncl
Hsp90ab1,4.643990e-116,3.967238,0.976,0.149,2.950327e-112,spg,Hsp90ab1
Dazl,2.691036e-114,4.086714,0.919,0.028,1.709615e-110,spg,Dazl
Anp32b,2.388761e-106,3.495027,0.902,0.043,1.517580e-102,spg,Anp32b
Prrc2c,6.535765e-96,3.105859,0.905,0.081,4.152172e-92,spg,Prrc2c
...,...,...,...,...,...,...,...
Rnf181,9.059729e-03,1.051241,0.221,0.157,1.000000e+00,spd,Rnf181
Cux1,9.240642e-03,0.762221,0.133,0.075,1.000000e+00,spd,Cux1
Ubxn10,9.265965e-03,0.434644,0.102,0.049,1.000000e+00,spd,Ubxn10
Zfp451,9.430297e-03,1.079805,0.336,0.307,1.000000e+00,spd,Zfp451
Pbx4,9.751467e-03,0.397364,0.164,0.097,1.000000e+00,spd,Pbx4

In [8]:
int_genes

                     spg       spc        spd
0610009B22Rik   0.013240  0.287479   0.065118
0610009L18Rik   0.027318  2.499897   0.514974
0610009O20Rik   0.025955  0.064048   0.015603
0610010F05Rik   0.010937  0.042857   0.042526
0610011F06Rik   0.189574  0.010890   0.019584
...                  ...       ...        ...
mt-Nd3          0.241611  0.015630   0.046804
mt-Nd4          0.082581  0.190041   0.160750
mt-Nd5          3.923431  0.192158   0.366419
mt-Rnr1         4.254885  0.470409   0.050536
mt-Rnr2        28.581991  8.285803  10.019041

[6354 rows x 3 columns]

In [18]:
int_genes.sort_values("spg", ascending=False).head(10)

                spg       spc        spd
mt-Rnr2   28.581991  8.285803  10.019041
Ncl       20.230345  0.180729   0.079961
Hsp90ab1  19.173382  0.787013   0.718458
Dazl      15.695407  0.201094   0.099881
Prrc2c    13.318532  0.020410   0.427625
Tpr       12.178569  0.040468   0.364495
Anp32b    11.414381  0.259211   0.029880
mt-Nd1    11.121754  0.444485   0.742649
Rpl4      10.891872  0.896442   1.013451
Rbm39      9.742295  0.475143   0.036577